<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lb.todosqlite"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lb.todosqlite.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateUnchanged" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />                
            </intent-filter>
        </activity>
        <activity
            android:name="com.lb.todosqlite.AddNewToDo"
            android:label="Add New ToDo"
            android:configChanges="orientation|screenSize" 
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.lb.todosqlite.AddNewTag"
            android:label="Add New Tag"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.lb.todosqlite.ViewTodo"
            android:label="View Todo"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
         <activity
            android:name="com.lb.todosqlite.EditTodo"
            android:label="Edit Todo"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
         <activity
            android:name="com.lb.todosqlite.DebugScreen" 
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden">            	
            </activity>
         <activity
            android:name="com.lb.todosqlite.preferences.SettingsActivity" 
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden">            	
            </activity>   
         <activity
            android:name="com.lb.todosqlite.preferences.ColorPickerPreference">            	
            </activity>   
        
    </application>

</manifest>
